.deps
.libs
/.tarball-version
/.version
*.a
*.gperf
*.la
*.lo
*.o
*.output
*.valgrind
/*/glthread
/*/unistr
/*/uniwidth
Makefile
Makefile.in
aclocal.m4
arg-nonnull.h
/autom4te.cache
c++defs.h
compile
config.*
/config.rpath
configure
depcomp
/git-version-gen
install-sh
/lib/*.alias
/lib/*.c
/lib/*.h
/lib/*.mk
/lib/*.sed
/lib/*.sin
/lib/arpa
/lib/pt_chown
/lib/sys
!lib/version.c
!lib/version.h.in
libtool
ltmain.sh
/m4
missing
stamp-h1
unused-parameter.h
warn-on-use.h
/tests
/tmp
_b*
_i*
/libposix*.tar.*
/libposix-*
